<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630082019857-l2jg08j9ok5ohn8oa5b1j1ktiqq521pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630082019857-l2jg08j9ok5ohn8oa5b1j1ktiqq521pf</string>
	<key>API_KEY</key>
	<string>AIzaSyA2SxHUdJRRpxAunFiOkoVl9zLNup15GG8</string>
	<key>GCM_SENDER_ID</key>
	<string>630082019857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Christian.Hangout</string>
	<key>PROJECT_ID</key>
	<string>hangout-a7953</string>
	<key>STORAGE_BUCKET</key>
	<string>hangout-a7953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630082019857:ios:afdb217a5b2eb096f987b0</string>
</dict>
</plist>